<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 使用CoC,惯例优先原则(convention over configuration)的方式来配置SpringMVC可以帮我们声明Controller的时候省下很多功夫。
			只要我们的Controller是以XXXController的方式命名的话就可以使用到CoC带来的好处。
			例如，对于普通的Controller（非MultiActionController），CoC帮我们做以下的映射：
			HomeController映射到/home*请求URL
		 -->
	<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>
	<!-- 使用annocation创建Controller的bean -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/> 

	<!-- 自动扫描 -->
	<context:component-scan base-package="org.dbyz.wechat.*.controller">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
	</context:component-scan>
	
	<!-- 注解映射的支持  默认 -->
	<mvc:annotation-driven />
	
	<!-- 对静态资源文件的访问方案  默认 -->
	<mvc:default-servlet-handler/>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="org.dbyz.wechat.common.OperationInterceptor"></bean>
		</mvc:interceptor>  
	</mvc:interceptors>
	
	
	<!-- 定义首页 -->
	<mvc:view-controller path="/" view-name="forward:/index.jsp"/>
	
	<!-- 定义JSP --> 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<bean id="multipartResolver"  
    	class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
	    p:defaultEncoding="UTF-8"
	    p:maxUploadSize="5242880"   
	 />  
    
	<!-- end -->
	
</beans>
